navbar {
  padding: 0.5rem 1rem; /* Ajuster le rembourrage */
}

.nav-item {
  margin: 0 10px; /* Espacement entre les éléments */
}

.nav-item h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
  color: white;
}

.nav-item a:hover h1 {
  color: #17a2b8;
  transition: color 0.3s ease;
}

.nav-item .nav-link {
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.nav-item .nav-link:hover h1 {
  color: #17a2b8;
  transition: color 0.3s ease;
}

.nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-item .nav-link:hover::after {
  width: 80%;
}

/* Active link styling */
.nav-item .nav-link.active h1 {
  color: #ffd700;
}

.nav-item .nav-link.active::after {
  width: 80%;
  background-color: #ffd700;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-item h1 {
    font-size: 1.8rem;
  }
}